{
	"presets": [
    [
      "@babel/preset-env",
      {
				"targets": {
	        "edge": "14",
	        "firefox": "60",
	        "chrome": "49",
	        "safari": "10.3"
	      },
        "useBuiltIns": "entry"
      }
    ],
		"minify"
  ],
  "plugins": []
}
